
/* Header */

.NavBar-Background{
  background-color: rgb(6, 6, 85);
  color: white;
  padding: 10px;
}

.NavBar-Background .navbar-brand,
.NavBar-Background .nav-link {
  color: white; 
}

.NavBar-Background .nav-link:hover {
  color: lightgray; 
}

.NavBar-Background .navbar-nav {
  margin: 0 auto; 
}

.ml-3 {
  margin-left: 1rem; 
}

.center-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Body */

.App {
  text-align: center;
}

.App-Background {
  background: linear-gradient(to bottom, rgb(6, 6, 85), #0000ff, white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About-Card.card{
  background-color: #00008b; 
  color: white; 
  padding: 20px; 
  border-radius: 10px;
}

.Project-Image{
  aspect-ratio: 2 / 1;
}

.Project-Card{
  background-color: white !important; 
  border: 2px solid blue !important; 
  border-radius: 10px;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.section-spacing {
  margin-top: 15rem; 
}

/* Footer */

.Footer-Background {
  background-color: white;
  color: black; 
  padding: 10px;
  text-align: center;
}

.Footer-Background .social-media-links a {
  color: black !important;
}

.Footer-Background .social-media-links a:hover {
  color: gray !important; 
}

.wide-container {
  max-width: 100% !important; 
  width: 100%; 
}

.wide-column {
  width: 100%;
}